<html>

<head>
  <title>Annotator : Error</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dragonfly.css') }}" media="screen">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src=" {{url_for('static', filename='js/jquery-3.2.1.min.js')}} "></script>
  <script src=" {{url_for('static', filename='js/bootstrap.min.js')}} "></script>
  <script src=" {{url_for('static', filename='js/dragonfly.js')}} "></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Annotator</span>
      </div>
      <div class="navbar-header navbar-labels">
        <span class="navbar-text label df-type df-land" title="l">LAND</span>
        <span class="navbar-text label df-type df-si" title="i">SI</span>
        <span class="navbar-text label df-type df-adj" title="a">ADJ</span>
        <span class="navbar-text label df-type df-gag" title="g">GAG</span>
        <span class="navbar-text label df-type df-dif" title="k">DIF</span>
        <span class="navbar-text label df-type df-dir" title="j">DIR</span>
      </div>
    </div>
  </div>
  <div class="alerts"></div>
  <div class="container-fluid df-body">
    <h1>Unknown document</h1>
  </div>
</body>

</html>