{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block head %}
<script>
var dragonfly_filename = "{{ title }}";
var dragonfly_settings = {{ df_settings|convert_to_json|safe }};
var dragonfly_tags = {{ df_tags|convert_to_json|safe }};
var dragonfly_terminal_blank_line = {{ document.terminal_blank_line|lower }};
var dragonfly_view_only = {{ view_only|lower }};
</script>
{%- if rtl -%}
<style>
  .df-sentence {
    white-space: normal;
    direction: rtl;
    border-top: 2px solid #e7e7e7;
  }
  .df-sentence-id {
    border-top: none;
  }
  .df-section {
    border-top: none;
    border-bottom: none;
  }
  .df-section:last-of-type {
    border-right: none;
  }
  .df-section > div.df-b-tag {
    border-right: 5px solid #333;
    border-left: none;
  }
</style>
{%- endif -%}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block main %}
<div class="df-main">
{%- set max_col_width = df_settings['Column Width']|int -%}
{%- for s in range(document.sentences|length) -%}
    {%- set sentence = document.sentences[s] -%}
    {%- if document.has_translation -%}
    <div class="df-translation">{{ document.translation[s] }}</div>
    {%- endif -%}
    {%- if s in document.markers -%}
    {%- set marker_class = 'df-marked' -%}
    {%- else -%}
    {%- set marker_class = '' -%}
    {%- endif -%}
    <div class="df-sentence" id="df-sentence-{{ sentence.index }}">
        <div class="df-sentence-id"><span class="df-sentence-badge badge {{ marker_class }}" id="{{ sentence.index }}">{{ sentence.index }}</span></div>
        <div class="df-section df-column-labels">
        {%- for row in sentence.rows -%}
            <div>{{ row.label }}</div>
        {%- endfor -%}
        </div>
        {%- for tok in range(sentence.length) -%}
            {{ macros.render_token(sentence, tok, max_col_width, document.has_annotations) }}
        {%- endfor -%}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block footer %}
  {% include 'finder.html' %}
{% endblock %}

{% block extras %}
  {% include 'extras.html' %}
{% endblock %}