{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block head %}
{% if rtl %}
<style>
  .df-sentence {
    white-space: normal;
    direction: rtl;
    border-top: 2px solid #e7e7e7;
  }
  .df-sentence-id {
    border-top: none;
  }
  .df-section {
    border-top: none;
    border-bottom: none;
  }
  .df-section:last-of-type {
    border-right: none;
  }
  .df-section > div.df-b-tag {
    border-right: 5px solid #333;
    border-left: none;
  }
</style>
{% endif %}
{% endblock %}

{% block nav %}
  <script>
  var dragonfly_tags = {{ tags|safe }};
  var dragonfly_terminal_blank_line = {{ document.terminal_blank_line|lower }};
  </script>
  {% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid df-body">
{% set max_col_width = sm.get_column_width() %}
{% for s in range(document.sentences|length) %}
    {% set sentence = document.sentences[s] %}
    {% if document.has_translation %}
    <div class="df-translation">{{ document.translation[s] }}</div>
    {% endif %}
    <div class="df-sentence" id="df-sentence-{{ sentence.index }}">
        <div class="df-sentence-id"><span class="df-sentence-badge badge" id="{{ sentence.index }}">{{ sentence.index }}</span></div>
        <div class="df-section df-margin-div"></div>
        <div class="df-section df-column-labels">
        {% for row in sentence.rows %}
            <div>{{ row.label }}</div>
        {% endfor %}
        </div>
        {% for tok in range(sentence.length) %}
            {{ macros.render_token(sentence, tok, max_col_width, document.has_annotations) }}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block extras %}
  {% include 'find.html' %}
  {% include 'dialogs.html' %}
{% endblock %}