{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block head %}
<script>
var dragonfly_filename = "{{ title }}";
var dragonfly_settings = {{ df_settings|convert_to_json|safe }};
var dragonfly_tags = {{ df_tags|convert_to_json|safe }};
var dragonfly_terminal_blank_line = {{ document.terminal_blank_line|lower }};
</script>
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block main %}
<div class="df-main">
{%- set max_col_width = df_settings['Column Width']|int -%}
{%- for s in range(document.sentences|length) -%}
    {%- set sentence = document.sentences[s] -%}
    {%- if document.has_translation -%}
    <div class="df-translation">{{ document.translation[s] }}</div>
    {%- endif -%}
    {%- if s in document.markers -%}
    {%- set marker_class = 'df-marked' -%}
    {%- else -%}
    {%- set marker_class = '' -%}
    {%- endif -%}
    <div class="df-sentence" id="df-sentence-{{ sentence.index }}">
        <div class="df-sentence-id">
            <span class="df-sentence-badge badge {{ marker_class }}" id="{{ sentence.index }}" data-index="{{ sentence.index}}">{{ sentence.index + 1 }}</span>
        </div>
        <div class="df-section df-column-labels{% if not df_settings['Display Row Labels'] %} df-hide{% endif %}">
        {%- for row in sentence.rows -%}
            <div>{{ row.label }}</div>
        {%- endfor -%}
        </div>
        {%- for tok in range(sentence.length) -%}
            {{ macros.render_token_column(sentence, tok, max_col_width, document.has_annotations, doc_stats) }}
        {%- endfor -%}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block extras %}
  {% include 'extras.html' %}
{% endblock %}