<html>
  <head>
    <title>Dragonfly : {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dragonfly.css') }}" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-resizable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dragonfly.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="lang" content="{{ lang }}">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" id="df-nav">
      <div class="container-fluid">
        <div class="navbar-header df-header-metadata">
          <span id="df-filename" class="navbar-text">{{ title }}</span>
          <span class="navbar-text">Sentences: {{ document.num_sentences }}</span>
          <span class="navbar-text">Tokens: {{ document.num_tokens }}</span>
        </div>
        <div class="navbar-header navbar-labels">
          <span class="navbar-text label df-type df-del" title="d">DEL</span>
          <span class="navbar-text label df-type df-sel" title="s">SEL</span>
          <span class="navbar-text label df-type df-find" title="f">FIND</span>
        </div>
        <div class="navbar-header navbar-buttons navbar-right">
          <div class="btn-group">
            {% if index > 0 %}
            <a class="btn btn-default df-navbar-button" id="df-prev-doc" title="Previous" aria-label="Previous" href="\?index={{ index - 1 }}">
              <span class="glyphicon glyphicon-triangle-left"></span>
            </a>
            {% else %}
            <span class="btn btn-default df-navbar-button disabled" id="df-prev-doc" title="Previous" aria-label="Previous">
              <span class="glyphicon glyphicon-triangle-left disabled"></span>
            </span>
            {% endif %}
            {% if next_index %}
            <a class="btn btn-default df-navbar-button" id="df-next-doc" title="Next" aria-label="Next" href="\?index={{ next_index }}">
              <span class="glyphicon glyphicon-triangle-right"></span>
            </a>
            {% else %}
            <span class="btn btn-default df-navbar-button disabled" id="df-next-doc" title="Next" aria-label="Next">
              <span class="glyphicon glyphicon-triangle-right"></span>
            </span>
            {% endif %}
            <button type="button" id="df-save" class="btn btn-default df-navbar-button" title="Save" aria-label="Save">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
            <button type="button" id="df-settings-button" class="btn btn-default df-navbar-button" title="Settings" aria-label="Settings" data-toggle="modal" data-target="#df-settings-modal">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="navbar-header navbar-right">
          <label class="navbar-text checkbox-inline">
            <input type="checkbox" id="cascade" value="cascade" checked> Cascade
          </label>
        </div>
      </div>
    </div>
    <div class="alerts"></div>
    <div class="container-fluid df-body">
      {% block content %}{% endblock %}
    </div>
    <div class="df-concordance">
      <div class="df-resize-bar"></div>
      <nav class="navbar navbar-default df-nav-slim">
        <div class="container-fluid">
          <button type="button" class="close" id="df-concordance-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="df-search form-control" placeholder="Search">
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
          <p class="navbar-text df-term-count"></p>

        </div>
      </nav>
      <div class="df-results"></div>
    </div>

    <div class="modal fade" id="df-settings-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
            <form id="df-settings-form" class="form-horizontal">
              <div id="df-settings-section-text">
                <div class="form-group">
                  <label class="col-sm-5 control-label"></label>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="">
                  </div>
                </div>
              </div>
              <div id="df-settings-section-checkbox" class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="hidden" name="" value="false">
                    <input type="checkbox" name="" value="true"><span></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="df-settings-save" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="df-context-menu" class="panel panel-default hidden">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label id="df-trans-source"></label>
          </div>
          <div class="form-group">
            <label>Translation</label>
            <input type="text" class="form-control" name="translation">
          </div>
          <div class="form-group">
            <label>Entity Type</label>
            <input type="text" class="form-control" name="entity-type">
          </div>
          <button id="df-context-menu-submit" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
