<div class="modal fade" id="df-settings-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <form id="df-settings-form" class="form-horizontal">
          <div id="df-settings-section-text">
            <div class="form-group">
              <label class="col-sm-5 control-label"></label>
              <div class="col-sm-2">
                <input type="number" class="form-control" name="">
              </div>
            </div>
          </div>
          <div id="df-settings-section-checkbox" class="form-group">
            <div class="checkbox">
              <label>
                <input type="hidden" name="" value="false">
                <input type="checkbox" name="" value="true"><span></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="df-settings-save" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="df-stats-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Statistics</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div id="df-context-menu" class="panel panel-default hidden">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label id="df-trans-source"></label>
      </div>
      <div class="form-group">
        <label>Translation</label>
        <input type="text" class="form-control" name="translation">
      </div>
      <div class="form-group">
        <label>Entity Type</label>
        <input type="text" class="form-control" name="entity-type">
      </div>
      <button id="df-context-menu-submit" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>