<div class="df-finder">
  <div class="df-resize-bar"></div>
  <div class="navbar navbar-default df-finder-nav">
    <div class="container-fluid">
      <div class="btn-group">
        <button type="button" id="df-finder-minimize" class="btn btn-default df-navbar-button" title="Minimize" aria-label="Minimize">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-finder-use-local" class="btn btn-default df-navbar-button" title="Search Files" aria-label="Search">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-finder-use-wikipedia" class="btn btn-default df-navbar-button" title="Wikipedia" aria-label="Wikipedia">
          <span class="icon-wikipedia-w"></span>
        </button>
        <button type="button" id="df-finder-use-google" class="btn btn-default df-navbar-button" title="Google" aria-label="Google">
          <span class="icon-google"></span>
        </button>
        <button type="button" id="df-finder-use-gmaps" class="btn btn-default df-navbar-button" title="Google Maps" aria-label="Maps">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-finder-use-geonames" class="btn btn-default df-navbar-button" title="Geonames" aria-label="Geonames">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </button>
        {% if df_dict_avail %}
        <button type="button" id="df-finder-use-dict" class="btn btn-default df-navbar-button" title="Dictionary" aria-label="Dictionary">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </button>
        {% endif %}
      </div>
      <div class="df-finder-searchbox df-finder-local">
        <p class="df-search-label">Local Search</p>
        <form id="df-finder-local-form" class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" name="df-finder-term" class="form-control df-search-control" placeholder="Search" autocomplete="off">
          </div>
        </form>
      </div>
      <div class="df-finder-searchbox df-finder-wikipedia"><p class="df-search-label">Wikipedia</p><gcse:searchbox></gcse:searchbox></div>
      <div class="df-finder-searchbox df-finder-google"><p class="df-search-label">Google</p></div>
      <div class="df-finder-searchbox df-finder-gmaps">
        <p class="df-search-label">Google Maps</p>
        <form class="navbar-form" role="search">
        <input id="gmaps-input" class="form-control df-search-control" type="text" placeholder="Search">
        </form>
      </div>
      <div class="df-finder-searchbox df-finder-geonames">
        <p class="df-search-label">Geonames</p>
        <form id="df-finder-geonames-form" class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" name="df-geonames-term" class="form-control df-search-control" placeholder="Search" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="range" class="form-control-range" name="df-geonames-fuzzy" title="Fuzziness" min="1" max="10" value="2">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
      <div class="df-finder-searchbox df-finder-dict">
        <p class="df-search-label">Dictionary</p>
        <form id="df-finder-dict-form" class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" name="df-dict-term" class="form-control df-search-control" placeholder="Search" autocomplete="off">
          </div>
          <div class="form-group">
            <div class="radio">
              <label><input type="radio" name="df-dict-column" value="1" checked>English</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="df-dict-column" value="0">IL</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="df-dict-column" value="2">Transliteration</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="df-results-local"></div>
  <div class="df-results-wikipedia"><gcse:searchresults></gcse:searchresults></div>
  <div class="df-results-google"></div>
  <div class="df-results-gmaps" id="gmaps"></div>
  <div class="df-results-geonames"></div>
  <div class="df-results-dict"></div>
</div>