<div class="df-finder">
  <div class="df-resize-bar"></div>
  <div class="navbar navbar-default df-nav-slim">
    <div class="container-fluid">
      <div class="btn-group">
        <button type="button" id="df-finder-close" class="btn btn-default df-navbar-button" title="Close" aria-label="Close">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-finder-toggle" class="btn btn-default df-navbar-button" title="Toggle" aria-label="Toggle">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
      <div class="df-finder-local inline-block">
        <form id="df-finder-local-form" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" name="df-finder-term" class="form-control" placeholder="Search">
          </div>
        </form>
        <p class="navbar-text df-term-count"></p>
      </div>
      <div class="df-finder-google hide"><gcse:searchbox></gcse:searchbox></div>
    </div>
  </div>
  <div class="df-results-local show"></div>
  <div class="df-results-google hide"><gcse:searchresults></gcse:searchresults></div>
</div>