<div class="navbar navbar-default" id="df-nav">
  <div class="container-fluid">
    <div class="navbar-header df-header-metadata">
      <span id="df-filename" class="navbar-text">{{ title }}</span>
    </div>
    <div class="navbar-header navbar-labels">
      {%- for tag_index in range(df_tags|length) -%}
      {%- set code = tag_index + 1 -%}
        <span class="navbar-text label df-type df-tag-{{ code }}{% if code == 1 %} df-type-active{% endif %}" title="{{ code }}">{{ df_tags[tag_index] }}</span>
      {%- endfor -%}
      <span class="navbar-text label df-type df-del" title="d">DEL</span>
      <span class="navbar-text label df-type df-sel" title="s">SEL</span>
      <span class="navbar-text label df-type df-find" title="f">FIND</span>
    </div>
    <div class="navbar-header navbar-buttons navbar-right">
      <div class="btn-group">
        {% if index > 0 %}
        <a class="btn btn-default df-navbar-button" id="df-prev-doc" title="Previous" aria-label="Previous" href="{{ url_for('view') }}?index={{ index - 1 }}{% if view_only %}&view=true{% endif %}">
          <span class="glyphicon glyphicon-triangle-left"></span>
        </a>
        {% else %}
        <span class="btn btn-default df-navbar-button disabled" id="df-prev-doc" title="Previous" aria-label="Previous">
          <span class="glyphicon glyphicon-triangle-left disabled"></span>
        </span>
        {% endif %}
        {% if next_index %}
        <a class="btn btn-default df-navbar-button" id="df-next-doc" title="Next" aria-label="Next" href="{{ url_for('view') }}?index={{ next_index }}{% if view_only %}&view=true{% endif %}">
          <span class="glyphicon glyphicon-triangle-right"></span>
        </a>
        {% else %}
        <span class="btn btn-default df-navbar-button disabled" id="df-next-doc" title="Next" aria-label="Next">
          <span class="glyphicon glyphicon-triangle-right"></span>
        </span>
        {% endif %}
        <button type="button" id="df-save" class="btn btn-default df-navbar-button" title="Save" aria-label="Save">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-tools-button" class="btn btn-default df-navbar-button" title="Tools" aria-label="Tools" data-toggle="modal" data-target="#df-tools-modal">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-stats-button" class="btn btn-default df-navbar-button" title="Stats" aria-label="Stats" data-toggle="modal" data-target="#df-stats-modal">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        </button>
        <button type="button" id="df-settings-button" class="btn btn-default df-navbar-button" title="Settings" aria-label="Settings" data-toggle="modal" data-target="#df-settings-modal">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="navbar-header navbar-right">
      <label class="navbar-text checkbox-inline">
        <input type="checkbox" id="cascade" value="cascade" {% if df_settings['Cascade By Default'] %}checked{% endif %}> Cascade
      </label>
    </div>
  </div>
</div>