{% extends "base.html" %}
{% block content %}
<script>var dragonfly_tags = {{ tags|safe }}</script>
{% set max_col_width = sm.get_column_width() %}
{% for s in range(document.sentences|length) %}
    {% set sentence = document.sentences[s] %}
    {% if document.has_translation %}
    <div class="df-translation">{{ document.translation[s] }}</div>
    {% endif %}
    <div class="df-sentence" id="df-sentence-{{ sentence.id }}">
        <div class="df-sentence-id"><span class="df-sentence-badge badge" id="{{ sentence.id }}">{{ sentence.id }}</span></div>
        <div class="df-section df-margin-div"></div>
        <div class="df-section df-column-labels">
        {% for column in sentence.columns %}
            <div>{{ column.label }}</div>
        {% endfor %}
        </div>
        {% for c in range(sentence.length) %}
            <div class="df-section df-row">
            {% for column in sentence.columns %}
            {% if loop.index == 1 %}
                {% if document.has_annotations %}
                <div class="df-token noselect" id="df-token-{{ sentence.id }}-{{ c }}"
                     data-tag="{{ column.annotations[c] }}">{{ column.strings[c] }}</div>
                {% else %}
                <div class="df-token" id="df-token-{{ sentence.id }}-{{ c }}">{{ column.strings[c] }}</div>
                {% endif %}
            {% else %}
                {% if column.strings[c]|length > max_col_width %}
                  {% set column_text = column.strings[c][:max_col_width] + "…" %}
                  {% if column.strings[c]|length > 400 %}
                    {% set tooltip_text = column.strings[c][:400] %}
                  {% else %}
                    {% set tooltip_text = column.strings[c] %}
                  {% endif %}
                {% else %}
                  {% set column_text = column.strings[c] %}
                {% endif %}
                <div {% if column.strings[c]|length > max_col_width %} data-toggle="tooltip" title="{{ tooltip_text }}" {% endif %}>{{ column_text }}</div>
            {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}