{%- macro render_token(sentence, tok, max_col_width, has_annotations) -%}
<div class="df-section df-row">
  {%- for row in sentence.rows -%}
    {% if loop.index == 1 %}{# Tokens #}
      {%- if has_annotations -%}
    <div class="df-token" id="df-token-{{ sentence.index }}-{{ tok }}"
         data-tag="{{ row.annotations[tok] }}">{{ row.strings[tok] }}</div>
      {%- else -%}
    <div class="df-token" id="df-token-{{ sentence.index }}-{{ tok }}">{{ row.strings[tok] }}</div>
      {%- endif -%}
    {%- else -%}{# Non-Tokens #}
      {%- if row.adjudicate -%}
        {%- set tok_class = "df-adjudicate" -%}
      {%- else -%}
        {%- set tok_class = "" -%}
      {%- endif -%}
      {%- if row.strings[tok]|length > max_col_width -%}
        {%- set display_text = row.strings[tok][:max_col_width] + "…" -%}
        {%- if row.strings[tok]|length > 400 -%}
          {%- set tooltip_text = row.strings[tok][:400] -%}
        {%- else -%}
          {%- set tooltip_text = row.strings[tok] -%}
        {%- endif -%}
      {%- else -%}
        {%- set display_text = row.strings[tok] -%}
      {%- endif -%}
    <div class="{{ tok_class }}" {% if row.strings[tok]|length > max_col_width %} data-toggle="tooltip" title="{{ tooltip_text }}" {% endif %}>{{ display_text }}</div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endmacro -%}
{% macro render_recommendation(rec) %}
  <div class="df-rec-header">
    <h3>{{ rec.name }}</h3>
    {% if rec.config.words %}
    <button class="btn btn-default btn-xs df-rec-edit" type="submit">Edit</button>
    {% endif %}
  </div>
  {% if rec.config.words %}
  <dl class="df-rec-config">
    <dt>Length penalty</dt><dd>{{ rec.config.length_penalty }}</dd>
    <dt>Exact match</dt><dd>{{ rec.config.exact_match }}</dd>
    <dt>News only</dt><dd>{{ rec.config.news_only }}</dd>
  </dl>
  <script>
    var dragonfly_rec = {{ rec.config.export()|convert_to_json|safe }};
    $(".df-rec-edit").on('click', function() {
      $(window).trigger('df:edit_rec');
    });
  </script>
  {% endif %}
  <table class="table table-bordered table-condensed table-hover">
    <tbody>
        <tr><th>Doc</th><th>Sentences</th><th>Words</th><th>Score</th></tr>
        {% for item in rec.items[0:15] %}
        <tr>
            <td><a href="/{{ item.doc }}">{{ item.doc }}</a></td>
            <td>{{ item.sentences }}</td>
            <td>{{ item.words }}</td>
            <td>{{ '%0.2f' % item.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endmacro %}