<form id="df-build-recommend" action="{{ url_for('build_recommendations') }}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" placeholder="Recommendation name" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label>Words</label>
    <textarea class="form-control" name="words" rows="8" required></textarea>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="length_penalty" value="True" checked>Length penalty</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="exact_match" value="True">Exact match</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
  $("#df-build-recommend").on('submit', function(event) {
    event.preventDefault();
    $(this).find('button').blur();
    $('#df-tools-modal').modal('hide');
    $.ajax({
      url: $(this).attr('action'),
      type: 'POST',
      data: $(this).serialize(),
      dataType: 'json',
      success: function(response) {
        if (response.success) {
          dragonfly.showStatus('success', response.message);
        } else {
          dragonfly.showStatus('danger', response.message);
        }
      },
      error: function(xhr) {
        dragonfly.showStatus('danger', 'Error contacting the server');
      }
    });
  });
</script>