{%- macro render_settings(sm) -%}
  <div class="df-settings-section-text">
    {% for label, value in sm.text_settings.items() %}
    <div class="container-fluid form-group">
      <label class="control-label">{{ label }}</label>
      <div class="">
        <input type="text" class="form-control" name="{{ label }}" value="{{ value }}">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="df-settings-section-checkbox" class="form-group">
    {% for label, value in sm.bool_settings.items() %}
    <div class="checkbox">
      <label>
        <input type="hidden" name="{{ label }}" value="false">
        <input type="checkbox" name="{{ label }}" value="true" {% if value %}checked{% endif %}><span>{{ label }}</span>
      </label>
    </div>
    {% endfor %}
  </div>
{%- endmacro -%}
<form id="df-settings-form" class="form-horizontal">
  <h3>Global Settings</h3>
  {{ render_settings(gsm) }}
  <h3>Local Settings</h3>
  {{ render_settings(lsm) }}
</form>