<table class="table table-bordered table-condensed table-hover">
    <tbody>
        <tr><td>Documents</td><td>{{ stats.num_files }}</td></tr>
        <tr><td>Sentences</td><td>{{ stats.num_sentences }}</td></tr>
        <tr><td>Tagged Sentences</td><td>{{ stats.num_sentences_with_tags }}</td></tr>
        <tr><td>Tokens</td><td>{{ stats.num_tokens }}</td></tr>
        <tr><td>Tagged Tokens</td><td>{{ stats.num_tagged_tokens }}</td></tr>
        <tr><td>Percentage Tagged</td><td>{{ '%0.2f'|format(stats.percentage_tagged|float) }}%</td></tr>
        <tr><td>Percentage Tagged in Tagged Senteces</td><td>{{ '%0.2f'|format(stats.percentage_of_tokens_in_tagged_sentences|float) }}%</td></tr>
        <tr><td>Tags</td><td>{{ stats.num_entities }}</td></tr>
        <tr><td>Unique Tags</td><td>{{ stats.num_unique_entities }}</td></tr>
    </tbody>
</table>

<table class="table table-bordered table-condensed table-hover">
    <tbody>
        <tr><th>Type</th><th>Total</th><th>Unique</th></tr>
        {% for entity_type in stats.entities %}
        <tr><td>{{ entity_type }}</td><td>{{ stats.entities[entity_type].num_entities }}</td><td>{{ stats.entities[entity_type].entities|length }}</td></tr>
        {% endfor %}
    </tbody>
</table>
