<div class="panel-group" id="tools-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="recommendations">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#tools-accordion" href="#recommendations-collapse" aria-expanded="false" aria-controls="recommendations-collapse">
          Recommendations
        </a>
      </h4>
    </div>
    <div id="recommendations-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recommendations">
      <div class="panel-body">
        {% include 'modals/tools/recommendation_viewer.html' %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="recommend-builder">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#tools-accordion" href="#recommend-builder-collapse" aria-expanded="true" aria-controls="recommend-builder-collapse">
          Recommendations Builder
        </a>
      </h4>
    </div>
    <div id="recommend-builder-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="recommend-builder">
      <div class="panel-body">
        {% include 'modals/tools/recommendation_builder.html' %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="gen-tools">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#tools-accordion" href="#gen-tools-collapse" aria-expanded="true" aria-controls="gen-tools-collapse">
          General Tools
        </a>
      </h4>
    </div>
    <div id="gen-tools-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="gen-tools">
      <div class="panel-body">
        <div class="container-fluid">
          {% include 'modals/tools/general.html' %}
        </div>
      </div>
    </div>
  </div>
</div>