<div class="panel-group" id="tools-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="gen-tools">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#tools-accordion" href="#gen-tools-collapse" aria-expanded="true" aria-controls="gen-tools-collapse">
          General Tools
        </a>
      </h4>
    </div>
    <div id="gen-tools-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="gen-tools">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-default" href="/translations/export/{{ lang }}" role="button">Export Dictionary</a>
              </div>
            </div>

            <div class="col-md-6">
              <form id="df-trans-dict-import" class="form-inline" action="/translations/import/{{ lang }}" method="post" enctype="multipart/form-data">
                <label class="btn btn-default">
                  Import Dictionary<input type="file" id="df-trans-import-file" name="dict" class="hidden" accept=".json">
                </label>
                <p class="help-block">json file for {{ lang }}</p>
              </form>
              <script>
                $("#df-trans-import-file").on('change', function(event) {
                  var form = $("#df-trans-dict-import");
                  $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: new FormData(form.get(0)),
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response.success) {
                        dragonfly.showStatus('success', response.message);
                      } else {
                        dragonfly.showStatus('danger', response.message);
                      }
                    },
                    error: function(xhr) {
                      dragonfly.showStatus('danger', 'Error contacting the server');
                    }
                  });
                  event.preventDefault();
                });
              </script>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <a id="df-build-index" class="btn btn-default" href="/search/build" role="button">Build Search Index</a>
              </div>
              <script>
                $("#df-build-index").on('click', function(event) {
                  $.ajax({
                    url: $(this).attr('href'),
                    type: 'POST',
                    success: function(response) {
                      if (response.success) {
                          dragonfly.showStatus('success', response.message);
                      } else {
                          dragonfly.showStatus('danger', response.message);
                      }
                    },
                    error: function(xhr) {
                      dragonfly.showStatus('danger', 'Error contacting the server');
                    }
                  });
                  event.preventDefault();
                });
              </script>
            </div>
            <div class="col-md-6">
              <form id="df-combo-dict-import" class="form-inline" action="/search/dict/import" method="post" enctype="multipart/form-data">
                <label class="btn btn-default">
                  Import combodict.txt<input type="file" id="df-combo-dict-import-file" name="combodict" class="hidden" accept=".txt">
                </label>
              </form>
              <script>
                $("#df-combo-dict-import-file").on('change', function(event) {
                  var form = $("#df-combo-dict-import");
                  $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: new FormData(form.get(0)),
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response.success) {
                        dragonfly.showStatus('success', response.message);
                      } else {
                        dragonfly.showStatus('danger', response.message);
                      }
                    },
                    error: function(xhr) {
                      dragonfly.showStatus('danger', 'Error contacting the server');
                    }
                  });
                  event.preventDefault();
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="future-tools">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#tools-accordion" href="#future-tools-collapse" aria-expanded="false" aria-controls="future-tools-collapse">
          Future Tools
        </a>
      </h4>
    </div>
    <div id="future-tools-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="future-tools">
      <div class="panel-body">
          content here
      </div>
    </div>
  </div>
</div>