.df-header-metadata > span {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-header.navbar-labels {
    margin-left: 15px;
}
.navbar-header > .label {
    color: white;
    font-size: 120%;
    padding: .2em .5em .2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.navbar-form > .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-header.navbar-buttons {
    margin-left: 10px;
}
.df-navbar-button {
    margin-top: 10px;
}
.navbar-buttons a {
    color: #333;
    text-decoration: none;
}
.df-type {
    border: 3px solid #f8f8f8;
    margin-right: 3px;
    margin-left: 3px;
}
.df-type-active {
    border: 3px solid #666;
}
.df-per {
    background-color: rgba(241, 125, 128, 0.8);
}
.df-org {
    background-color: rgba(104, 168, 173, 0.8);
}
.df-gpe {
    background-color: rgba(87, 89, 148, 0.6);
}
.df-loc {
    background-color: rgba(196, 212, 175, 1.0);
}
.df-del, .df-sel, .df-find {
    background-color: rgba(33, 33, 33, 0.5);
}
.navbar-bottom {
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 0;
    min-height: 50px;
}
.df-concordance {
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 6px;
    z-index: 100;
}
.df-resize-bar {
    border-top: 1px solid #cccccc;
    background-color: #e7e7e7;
    height: 4px;
}
.df-resize-bar:hover {
    background-color: #bbbbbb;
    cursor: row-resize;
}
.df-nav-slim {
    margin-bottom: 0;
}
.df-nav-slim .form-control {
    padding: 3px 6px;
    height: 20px;
}
.df-nav-slim .btn {
    padding: 1px 4px;
}
.df-nav-slim {
    min-height: 0;
}
df-nav-slim .navbar-form {
    margin: 2px 0;
}
.df-nav-slim .navbar-text {
    margin: 0;
    margin-top: 8px;
}
.df-results {
    position: relative;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.df-result {
    margin-top: 5px;
    position: relative;
    white-space: nowrap;
}
.df-copy {
    display: inline-block;
    vertical-align: top;
}
.df-copy > .btn {
    padding: 8px 10px;
}
.df-result > .df-section:nth-of-type(2) {
    border-left: 1px solid #e7e7e7;
    padding-left: 15px;
    margin-left: 5px;
}
.df-result-doc {
    margin: 3px;
    margin-bottom: 8px;
}
.df-result-highlight {
    color: red;
}
.alerts {
    position: fixed;
    top: 70px;
    right: 15px;
    min-width: 400px;
    z-index: 2000;
}
.df-body {
    margin-top: 70px;
}
.df-sentence {
    margin-bottom: 15px;
    padding: 2px;
    white-space: nowrap;
    position: relative;
}
.df-sentence-id {
    display: inline-block;
    position: absolute;
    width: 60px;
    border-top: 1px solid #e7e7e7;
    background-color: white;
    z-index: 10;
    margin-left: -15px;
}
.df-sentence-id > .badge {
    margin: 5px;
    font-size: 14px;
}
.df-section {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: inline-block;
    padding-right: 15px;
    margin-right: -4px;
}
.df-section:last-of-type {
    border-right: 1px solid #e7e7e7;
}
.df-section > div {
    padding: 2px;
}
.df-margin-div {
    margin-left: 45px;
    padding: 0;
}
.df-token, .df-type, .df-sentence-badge, .df-column-labels {
    cursor: pointer;
}
.df-in-dict {
    border: 2px solid #676767;
}
.df-b-tag {
    border-left: 5px solid #333;
}
.df-complete {
   background-color: #2e6da4;
}
.df-hint {
    background-color: rgba(156, 140, 114, 0.6);
}
.df-translation {
    padding: 10px 0;
    margin-left: 60px;
    word-spacing: .4em;
    white-space: nowrap;
}
#df-settings-section-checkbox {
    margin-left: 20px !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.tooltip {
    font-size: 14px; /* override bootstrap */
}