html, body {
  height: 100%;
}
body {
  display: flex;
  overflow: hidden;
}
.df-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.alerts {
    position: fixed;
    top: 70px;
    right: 15px;
    min-width: 400px;
    z-index: 2000;
}
/* header */
.navbar {
    /* reset bootstrap defaults for navbar */
    margin-bottom: 0;
    min-height: auto;
}
.df-header-metadata > span {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-header.navbar-labels {
    margin-left: 15px;
}
.navbar-header > .label {
    color: white;
    font-size: 120%;
    padding: .2em .5em .2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.navbar-form > .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-header.navbar-buttons {
    margin-left: 10px;
}
.df-navbar-button {
    margin-top: 10px;
}
.navbar-buttons a {
    color: #333;
    text-decoration: none;
}
.df-type {
    border: 3px solid #f8f8f8;
    margin-right: 3px;
    margin-left: 3px;
}
.df-type-active {
    border: 3px solid #666;
}
.df-tag-1 {
    background-color: rgba(241, 125, 128, 0.8);
}
.df-tag-2 {
    background-color: rgba(104, 168, 173, 0.8);
}
.df-tag-3 {
    background-color: rgba(87, 89, 148, 0.6);
}
.df-tag-4 {
    background-color: rgba(196, 212, 175, 1.0);
}
.df-tag-5 {
    background-color: rgba(243, 240, 120, .85);
}
.df-tag-6 {
    background-color: rgba(220, 122, 230, .6);
}
.df-del, .df-sel, .df-find {
    background-color: rgba(33, 33, 33, 0.5);
}
/* footer */
.df-finder {
    background-color: white;
    width: 100%;
    height: 5px;
    z-index: 100;
    flex: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.df-resize-bar {
    border-top: 1px solid #cccccc;
    background-color: #e7e7e7;
    height: 4px;
    flex: none;
}
.df-resize-bar:hover {
    background-color: #bbbbbb;
    cursor: row-resize;
}
.df-nav-slim {
    margin-bottom: 0;
}
.df-nav-slim .form-control {
    padding: 3px 6px;
    height: 20px;
}
.df-nav-slim .btn {
    padding: 1px 4px;
}
df-nav-slim .navbar-form {
    margin: 2px 0;
}
.df-nav-slim .navbar-text {
    margin: 0;
    margin-top: 8px;
}
.df-nav-slim .btn-group {
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}
.df-finder-google {
    width: 500px;
    margin-left: 20px;
    margin-top: 4px;
}
.df-results-local, .df-results-google {
    flex-grow: 1;
    overflow: auto;
    margin-top: 5px;
    position: relative;
    padding: 5px;
}
.df-results-local {
    white-space: nowrap;
}
.df-open {
    display: inline-block;
    vertical-align: top;
}
.df-open > .btn {
    padding: 8px 10px;
}
.df-result > .df-section:nth-of-type(2) {
    border-left: 1px solid #e7e7e7;
    padding-left: 15px;
    margin-left: 5px;
}
.df-result-doc {
    margin: 3px;
    margin-bottom: 8px;
}
.df-result-highlight {
    color: red;
}
/* main */
.df-main {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 20px;
}
.df-sentence {
    margin-bottom: 15px;
    padding: 2px;
    padding-left: 50px;
    white-space: nowrap;
    position: relative;
}
.df-sentence-id {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 50px;
    left: 0;
}
.df-sentence-id > .badge {
    margin: 5px;
    font-size: 14px;
}
.df-section {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: inline-block;
    padding-right: 15px;
    margin-right: -4px;
}
.df-section:last-of-type {
    border-right: 1px solid #e7e7e7;
}
.df-section > div {
    margin: 2px 0;
    padding: 2px;
}
.df-token, .df-type, .df-sentence-badge {
    cursor: pointer;
}
.df-section > div:first-child {
    margin-top: 4px;
    margin-bottom: 4px;
}
.df-section > div.df-in-dict {
    border: 2px solid #676767;
    margin-top: 2px;
    margin-bottom: 2px;
}
.df-section > div.df-b-tag {
    border-left: 5px solid #333;
}
.df-complete {
   background-color: #2e6da4;
}
.df-hint {
    background-color: rgba(156, 140, 114, 0.6);
}
.df-translation {
    padding: 10px 0;
    margin-left: 60px;
    word-spacing: .4em;
    white-space: nowrap;
}
#df-settings-section-checkbox {
    margin-left: 20px !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.tooltip {
    font-size: 14px; /* override bootstrap */
}