<div class="df-resize-bar-v"></div>
<div class="df-footer-sidebar-container">
  <div class="df-footer-nav navbar navbar-default">
      <p class="df-search-label"><a id="df-notes-link">Notes</a></p>
  </div>

  {% if df_settings['Document Specific Notes'] %}
  {% set notes = df_locator.notepad.load(filename) %}
  {% else %}
  {% set notes = df_locator.notepad.load('') %}
  {% endif %}
  <div class="df-footer-content">
    <textarea id="df-notes" name="df-notes">{{ notes }}</textarea>
    <div id="df-cloud" class="df-hide"></div>
  </div>
</div>